{
    "settings": {
        "email": "aa@bb.com",
        "kis_user": "user",
        "kis_password": "pass",
        "kis_webpack_id": "123456"
    },
    "certificates": [
        {
            "name": "Test name",
            "urls": [
                {
                    "url": "url1.de",
                    "challenge_path": "/www/url1/.well-known/acme-challenge"
                },
                {
                    "url": "url2.de",
                    "challenge_path": "/www/url2/.well-known/acme-challenge"
                }
            ],
            "local_path": "C:\\Users\\Test\\Desktop",
            "cert_file": "domain.crt",
            "key_file": "domain-key.txt",
            "csr_file": "domain-csr.txt",
            "account_file": "account-key.txt",
            "ftp_server": "ftp.url1.de",
            "ftp_user": "user",
            "ftp_pass": "pass"
        }
    ]
}